@page "/statuses"

@inherits ListPageBase<StatusReadModel, StatusReadModel>

<PageTitle>Statuses</PageTitle>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-print-none">
            <li class="breadcrumb-item">
                <a href="@RouteLinks.Home()">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Statuses
            </li>
        </ol>
    </nav>
    <div class="card shadow">
        <div class="card-header d-flex align-items-center">
            <h5 class="me-auto">
                Statuses
            </h5>
            <DataGridToolbar DataGrid="DataGrid">
                <ActionTemplate>
                    <a href="@RouteLinks.Statuses.Edit(0)"
                       title="Add Status"
                       class="btn btn-primary mx-1">
                        Add
                    </a>
                </ActionTemplate>
            </DataGridToolbar>
        </div>

        <div class="card-body">
            <DataGrid TItem="StatusReadModel"
                      DataProvider="LoadData"
                      class="table"
                      Filterable="true"
                      Sortable="true"
                      @ref="DataGrid">
                <DataColumns>
                    <DataColumn Property="x => x.Name"
                                Title="Name"
                                Width="280px">
                        <Template Context="item">
                            <a href="@RouteLinks.Statuses.Edit(item.Id)"
                               class="d-block"
                               title="Edit Status @item.Name">
                                @item.Name
                            </a>
                        </Template>
                    </DataColumn>

                    <DataColumn Property="x => x.Description"
                                Title="Description" />

                    <DataColumn Property="x => x.DisplayOrder"
                                Title="Order"
                                Width="180px"
                                SortIndex="0" />

                    <DataColumn Property="x => x.IsActive"
                                Title="Active"
                                Width="180px" />

                    <DataColumn Property="x => x.Updated"
                                Title="Updated"
                                Width="180px"
                                Format="g" />

                    <DataColumn Property="x => x.Id"
                                Title="Action"
                                Filterable="false"
                                Width="100px">
                        <Template Context="item">
                            <a href="@RouteLinks.Statuses.Edit(item.Id)"
                               class="btn btn-sm"
                               title="Edit Status @item.Name">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button type="button"
                                    class="btn btn-sm"
                                    title="Delete Status @item.Name"
                                    @onclick="() => HandleDelete(item)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </Template>
                    </DataColumn>
                </DataColumns>
                <DataPagination Context="grid">
                    <DataPager PageSize="10" />
                    <DataSizer />
                    <div>@grid.Pager.StartItem - @grid.Pager.EndItem of @grid.Pager.Total</div>
                </DataPagination>
            </DataGrid>
        </div>

        <div class="card-footer">
            <a class="btn btn-sm btn-primary"
               title="Add Status"
               href="@RouteLinks.Statuses.Edit(0)">
                Add Status
            </a>
        </div>
    </div>
</div>

@code
{

}
