@page "/priorities/{id:int}"

@inherits EditPageBase<PriorityReadModel, PriorityUpdateModel>

<PageTitle>@PageTitle()</PageTitle>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@RouteLinks.Home()">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@RouteLinks.Priorities.List()">Priorities</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @PageTitle()
            </li>
        </ol>
    </nav>
</div>
<div class="container">
    <LoadingBlock IsLoading="EditContext == null || Store.Model == null">
        <EditForm EditContext="EditContext" OnValidSubmit="HandleSave">
            <FluentValidator />

            <div class="card shadow mb-5">
                <div class="card-header">
                    <h5>
                        @PageTitle()
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ValidationSummary />
                        </div>
                    </div>

                    <!-- Edit Form -->
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="Name" class="form-label">
                                    Name: <span class="text-danger">*</span>
                                </label>
                                <InputText @bind-Value="Store.Model!.Name"
                                           DisplayName="Name"
                                           id="Name"
                                           name="Name"
                                           class="form-control"
                                           placeholder="Name" />
                                <ValidationMessage For="@(() => Store.Model.Name)" />
                            </div>
                            <div class="mb-3">
                                <label for="DisplayOrder" class="form-label">
                                    Display Order: <span class="text-danger" title="Required Field">*</span>
                                </label>
                                <InputNumber @bind-Value="Store.Model!.DisplayOrder"
                                             DisplayName="Display Order"
                                             id="DisplayOrder"
                                             name="DisplayOrder"
                                             class="form-control"
                                             placeholder="Display Order" />
                                <ValidationMessage For="@(() => Store.Model.DisplayOrder)" />
                            </div>
                            <div class="mb-3">
                                <label for="IsActive" class="form-label">
                                    Active: <span class="text-danger" title="Required Field">*</span>
                                </label>
                                <BooleanSelect @bind-Value="Store.Model!.IsActive"
                                               DisplayName="Active"
                                               id="IsActive"
                                               name="IsActive"
                                               class="form-select"
                                               placeholder="Active" />
                                <ValidationMessage For="@(() => Store.Model.IsActive)" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">
                                    Description:
                                </label>
                                <InputTextArea @bind-Value="Store.Model!.Description"
                                               DisplayName="Description"
                                               id="Description"
                                               name="Description"
                                               class="form-control"
                                               rows="8"
                                               placeholder="Description" />
                                <ValidationMessage For="@(() => Store.Model.Description)" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <BusyButton id="save-button"
                                        type="submit"
                                        Busy="Store.IsBusy"
                                        Disabled="Store.IsClean"
                                        class="btn btn-primary">
                                Save
                            </BusyButton>
                        </div>
                        <div class="col">
                            <Conditional Condition="!IsCreate">
                                <button id="delete-button"
                                        type="button"
                                        @onclick="HandleDelete"
                                        disabled="@Store.IsBusy"
                                        class="btn btn-danger float-end">
                                    Delete
                                </button>
                            </Conditional>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </LoadingBlock>

</div>

@code
{
    protected override string Redirect => RouteLinks.Priorities.List();

    protected override string ModelTypeName => "Priority";

    protected override string? ModelInstanceName => Store?.Original?.Name;
}
